#music-input{
       width: 100%;
       max-width: 900px;
       margin: 0 auto;
       padding-bottom: 5;
       border-bottom: 0px solid black;
       box-shadow: ;
       background: #222;
       position: static;
       height: ;
       border-radius: 0px;
       display: ;
     }#music-input img{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      border-radius: 50%;
      padding-top: 5;
     }#music-input #notes{
       background: ;
       padding: 20;
       margin: 20;
       color: white;
     }#music-input #notes p{
      font-size: 10px;
      padding: 0;
      margin: 0;
     }#music-input #notes h2{
      margin: ;
      padding: 0;
     }#music-input #notes p em{
     
     }#music-input #inputing_tags{
      margin: 0;
      padding: 0;
     }#music-input #inputing_tags form{
      
     }#music-input #inputing_tags form input{
      width: 80%;
      margin-bottom: 10;
      height: 35px;
      border-radius: 10px;
      border: 1px solid white;
      background: black;
      color: white;
      outline: none;
     }#music-input #inputing_tags form button{
      width: 30%;
      height: 30px;
      outline: none;
      border-radius: 10px;
      background: none;
      color: white;
      border: 1px solid white;
      curser: pointer;
     }#music-input #inputing_tags form button:active{
      background: white;
      color: black;
     }#music-input #inputing_tags form button:hover{
      width: 50%;
     }#music-input #cancel{
       border: 0px;
       background: none;     
     }#music-input #cancel svg{
      font-size: 30px;
     }